img{
    height: 35rem;
    border-radius: 15rem;
}
.landing{
    display: flex;
    justify-content: space-around;
}
.welcome{
    display: flex;
    flex-direction: column;
    justify-content: center;
}